.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #f9f9e4;
  min-width: 0;
  min-height: 0;
}
.globalHeader2:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-bottom: 20px;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: none;
  height: auto;
  padding: 0px;
}
.hero > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.hero > :global(.__wab_flex-container) > *,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.hero > :global(.__wab_flex-container) > picture > img,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero {
    padding-bottom: 0px;
    background: none;
  }
}
.freeBox__ggbb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ggbb {
    height: auto;
  }
}
.freeBox__a6Jwt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 100%;
  max-width: 100%;
  align-self: center;
  margin-top: 0px;
  min-height: 0;
  padding: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a6Jwt {
    height: 100%;
    flex-shrink: 0;
    flex-grow: 1;
    min-height: 0;
  }
}
.columns___5Dfd {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns___5Dfd > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
}
.columns___5Dfd > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 7 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5Dfd {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5Dfd > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__wXhP6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-7deg);
  min-width: 0;
  padding: 0px;
}
.img__jWQcc {
  object-fit: contain;
  max-width: 100%;
  width: 388px;
  height: auto;
  filter: hue-rotate(0deg);
}
.img__jWQcc > picture > img {
  object-fit: contain;
}
.column__fiZy2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__m1Q1M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  display: none !important;
}
.img__m1Q1M > picture > img {
  object-fit: cover;
}
.img__tJgkB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  display: none !important;
}
.img__tJgkB > picture > img {
  object-fit: cover;
}
.h1__sijNp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1080px;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  color: #00000080;
  text-align: center;
  text-transform: none;
  line-height: 1.2;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: center;
  margin-bottom: 0px;
  letter-spacing: normal;
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__sijNp {
    max-width: 800px;
    line-height: 35px;
    margin-top: 35px;
  }
}
.h1__yHyXe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1080px;
  margin-top: 11px;
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-weight: 800;
  font-style: normal;
  color: #000000d9;
  text-align: center;
  text-transform: none;
  line-height: 1.2;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: center;
  margin-bottom: 27px;
  letter-spacing: normal;
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__yHyXe {
    max-width: 800px;
    font-size: 35px;
    line-height: 35px;
    margin-top: 35px;
  }
}
.text__dUaAd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 903px;
  margin-top: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #00000080;
  text-align: center;
  text-transform: none;
  line-height: 150%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dUaAd {
    max-width: 700px;
    margin-top: 18px;
    font-size: 18px;
  }
}
.text__f5BRl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 903px;
  margin-top: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #00000080;
  text-align: center;
  text-transform: none;
  line-height: 150%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__f5BRl {
    max-width: 700px;
    margin-top: 18px;
    font-size: 18px;
  }
}
.text__kdCc2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 903px;
  margin-top: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #00000080;
  text-align: center;
  text-transform: none;
  line-height: 150%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 31px;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kdCc2 {
    max-width: 700px;
    margin-top: 18px;
    font-size: 18px;
  }
}
.presentButtons {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.presentButtons > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.presentButtons > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .presentButtons {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 0;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .presentButtons > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__jfNRp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button___0I5Tb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: stretch;
}
.svg__rSuIq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__uHfBo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column___5X39 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__ejlan:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: stretch;
}
.svg___45Khc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__gpdmF {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.socialProof {
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: #fff1d6;
  min-width: 0;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.socialProof > * {
  grid-column: 4;
}
.dataProvider:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.columns__d8JeF {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 8px 0px;
}
.columns__d8JeF > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__d8JeF {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__d8JeF > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__bm2Er {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.socialProof__e9R65:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__evAuV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.noResearchRequired {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: #ffffff;
  min-width: 0;
  padding: 65px;
  margin: 0px 10px 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .noResearchRequired {
    align-items: center;
    justify-content: center;
    padding: 35px;
  }
}
.img__mZoFv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 264px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-7deg);
  filter: hue-rotate(226deg);
  margin-bottom: 20px;
}
.img__mZoFv > picture > img {
  object-fit: cover;
}
.text__gSluJ {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  margin-bottom: 27px;
  margin-top: 36px;
  min-width: 0;
}
.text__qXdXa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 903px;
  margin-top: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #00000080;
  text-align: center;
  text-transform: none;
  line-height: 150%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 53px;
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qXdXa {
    max-width: 700px;
    margin-top: 18px;
    font-size: 18px;
  }
}
.freeBox___9ZBp9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  background: none;
  max-width: 1140px;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  padding: 8px;
}
.columns__rqdZu {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__rqdZu > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__rqdZu > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__rqdZu > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rqdZu {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rqdZu > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__o89Jg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__vrPh {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__vrPh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__vrPh > :global(.__wab_flex-container) > *,
.freeBox__vrPh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vrPh > :global(.__wab_flex-container) > picture > img,
.freeBox__vrPh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vrPh {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vrPh > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vrPh > :global(.__wab_flex-container) > *,
  .freeBox__vrPh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vrPh > :global(.__wab_flex-container) > picture > img,
  .freeBox__vrPh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox___36J8Z {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-47ovROB-Xr2C);
  border-radius: 8px;
  padding: 8px;
}
.svg__cXfq {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 1em;
  flex-shrink: 0;
  display: none;
}
.freeBox__szBmA {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__bFu2I {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__hpg5C {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__hpg5C > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__hpg5C > :global(.__wab_flex-container) > *,
.freeBox__hpg5C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hpg5C > :global(.__wab_flex-container) > picture > img,
.freeBox__hpg5C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__b2Mq5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__yIKvk {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__jRs1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__clTq {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__clTq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__clTq > :global(.__wab_flex-container) > *,
.freeBox__clTq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__clTq > :global(.__wab_flex-container) > picture > img,
.freeBox__clTq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__clTq {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__clTq > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__clTq > :global(.__wab_flex-container) > *,
  .freeBox__clTq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__clTq > :global(.__wab_flex-container) > picture > img,
  .freeBox__clTq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__bmHIx {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-47ovROB-Xr2C);
  border-radius: 8px;
  padding: 8px;
}
.svg__rN6Uh {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffffff;
  flex-shrink: 0;
  display: none;
}
.freeBox__oU4Rh {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg___6UwFs {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___3HH {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___3HH > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___3HH > :global(.__wab_flex-container) > *,
.freeBox___3HH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3HH > :global(.__wab_flex-container) > picture > img,
.freeBox___3HH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__rlrbM {
  height: auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__to9Lc {
  height: auto;
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__rWcri {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___7VSaj {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___7VSaj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___7VSaj > :global(.__wab_flex-container) > *,
.freeBox___7VSaj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7VSaj > :global(.__wab_flex-container) > picture > img,
.freeBox___7VSaj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7VSaj {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7VSaj > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7VSaj > :global(.__wab_flex-container) > *,
  .freeBox___7VSaj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___7VSaj > :global(.__wab_flex-container) > picture > img,
  .freeBox___7VSaj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__tatlq {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-47ovROB-Xr2C);
  margin-right: 0px;
  border-radius: 8px;
  padding: 8px;
}
.svg__egObn {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffffff;
  flex-shrink: 0;
  display: none;
}
.freeBox__xqW {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__qWmFa {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__fSwq2 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__fSwq2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__fSwq2 > :global(.__wab_flex-container) > *,
.freeBox__fSwq2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fSwq2 > :global(.__wab_flex-container) > picture > img,
.freeBox__fSwq2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__gandE {
  height: auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__vesJ {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 0px;
}
.examples {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 27px;
  background: none;
  min-width: 0;
  padding: 65px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .examples {
    padding: 35px;
  }
}
.examples4 {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  margin-bottom: 27px;
  min-width: 0;
}
.text__jlgzu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 903px;
  margin-top: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #00000080;
  text-align: center;
  text-transform: none;
  line-height: 150%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 53px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jlgzu {
    max-width: 700px;
    margin-top: 18px;
    font-size: 18px;
  }
}
.examples1 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: auto;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.examples1 > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.examples1 > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.examples1 > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .examples1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .examples1 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__zVcY2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zVcY2 {
    align-items: stretch;
  }
}
.card__qJxjc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 560px;
  align-self: center;
  height: 100%;
  min-height: 0;
}
.text__o3Ow4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: var(--token-Ycl7DlUSVY4S);
  min-width: 0;
  padding: 15px;
}
.text__alOcr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  min-width: 0;
  padding: 15px;
}
.column__tgfoK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__tgfoK {
    align-items: stretch;
  }
}
.card__jdDAz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 560px;
  height: 100%;
  min-height: 0;
}
.text__qtcrJ {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: var(--token-Ycl7DlUSVY4S);
  min-width: 0;
  padding: 15px;
}
.text__lL8Mm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  min-width: 0;
  padding: 15px;
}
.column__zBpCo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zBpCo {
    align-items: stretch;
  }
}
.card__ziAz6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 560px;
  height: 100%;
  min-height: 0;
}
.text___9C1LU {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: var(--token-Ycl7DlUSVY4S);
  min-width: 0;
  padding: 15px;
}
.text__oiBCg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  min-width: 0;
  padding: 15px;
}
.examples2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.examples2 > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.examples2 > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.examples2 > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .examples2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .examples2 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__oLHv3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.card__hldAf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 560px;
  height: 100%;
  min-height: 0;
}
.text__m6G3T {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: var(--token-MAnhFXGh8Ir8);
  min-width: 0;
  padding: 15px;
}
.text__qyyLe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  min-width: 0;
  padding: 15px;
}
.column__pZaq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.card__cWbxt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 560px;
  height: 100%;
  min-height: 0;
}
.text__hnG9C {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: var(--token-2ObYh10hZuCh);
  min-width: 0;
  padding: 15px;
}
.text__fwtOs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  min-width: 0;
  padding: 15px;
}
.column__mk2Ae {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.card__o8Vl5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 560px;
  height: 100%;
  min-height: 0;
}
.text__olrrb {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: var(--token-Bjjq_24AWhes);
  min-width: 0;
  padding: 15px;
}
.text__eCtz0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  min-width: 0;
}
.process {
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
  width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 50px 64px;
}
.process > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.process > :global(.__wab_flex-container) > *,
.process > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.process > :global(.__wab_flex-container) > picture > img,
.process
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .process {
    padding: 35px;
  }
}
.freeBox__ddZCk {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
}
.freeBox__ddZCk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ddZCk > :global(.__wab_flex-container) > *,
.freeBox__ddZCk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ddZCk > :global(.__wab_flex-container) > picture > img,
.freeBox__ddZCk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text___54RlX {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: calc(0px + 32px) !important;
}
.text__gGjha {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 903px;
  margin-top: calc(0px + 32px) !important;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #00000080;
  text-align: center;
  text-transform: none;
  line-height: 150%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 53px;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gGjha {
    max-width: 700px;
    margin-top: calc(18px + 32px) !important;
    font-size: 18px;
  }
}
.freeBox__oOnJr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oOnJr {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.columns__d8MwW {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__d8MwW > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
  --plsmc-rc-col-gap: 10px;
}
.columns__d8MwW > :global(.__wab_flex-container) > *,
.columns__d8MwW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__d8MwW > :global(.__wab_flex-container) > picture > img,
.columns__d8MwW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.columns__d8MwW > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__d8MwW > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__d8MwW > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__d8MwW > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__d8MwW {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__d8MwW > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__d8MwW > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__qNdY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__swzo8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  min-width: 0;
}
.text__fX3Fu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  min-width: 0;
}
.column___21DQt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__hhZfr {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  width: auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.text__hoeV {
  position: relative;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.column__y2OBr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___8ZJow {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.text__lzgi {
  position: relative;
  text-align: center;
  padding-top: 0px;
  font-family: "Montserrat", sans-serif;
}
.column__mNWw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__mg91Z {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.text___3FBxs {
  position: relative;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.button__mfQk6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__thaIz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__sftzb {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__bb9W {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.faQs {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
  background: none;
  min-height: none;
  min-width: 0;
  padding: 65px;
}
.faQs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.faQs > :global(.__wab_flex-container) > *,
.faQs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.faQs > :global(.__wab_flex-container) > picture > img,
.faQs > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .faQs {
    padding: 35px;
  }
}
.freeBox__i9Gsa {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
}
.freeBox__i9Gsa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__i9Gsa > :global(.__wab_flex-container) > *,
.freeBox__i9Gsa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i9Gsa > :global(.__wab_flex-container) > picture > img,
.freeBox__i9Gsa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text___0T9Vj {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: calc(0px + 32px) !important;
  padding-bottom: 0px;
}
.text__oqKg3 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #00000080;
  text-align: center;
  text-transform: none;
  line-height: 150%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  height: auto;
  max-width: 903px;
  margin-top: calc(0px + 32px) !important;
  margin-bottom: 53px;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__oqKg3 {
    text-align: center;
    margin-top: calc(0px + 32px) !important;
  }
}
.columns__wKrSq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__wKrSq > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__wKrSq > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wKrSq {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wKrSq > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__mdwZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.accordion:global(.__wab_instance) {
  width: 100%;
  max-width: none;
  object-fit: cover;
  position: relative;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #00000080;
  text-align: center;
  text-transform: none;
  line-height: 150%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  min-height: 0;
}
.accordionItem__hOvWe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}
.text__kizKo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  min-width: 0;
}
.text__qnCyv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  min-width: 0;
}
.accordionItem___8Xkf5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
}
.text__oxZs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  min-width: 0;
}
.text__dfeJe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  min-width: 0;
}
.accordionItem__cFcKl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.text__vBCjl {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.text__g0Mje {
  font-family: "Montserrat", sans-serif;
}
.accordionItem__r9G3K:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.text__sWvi5 {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.text___5C4Zq {
  font-family: "Montserrat", sans-serif;
}
.accordionItem___0YFxW:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.text__nIBp {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  max-width: 100%;
  height: auto;
  text-align: left;
  padding-bottom: 0px;
  min-width: 0;
}
.text___0N3Cn {
  height: auto;
  font-family: "Montserrat", sans-serif;
}
.column__pnosO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__sVHc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(11deg);
  align-self: center;
}
.img__sVHc > picture > img {
  object-fit: cover;
}
.callToAction2 {
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
  width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 72px 65px 75px;
}
.callToAction2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.callToAction2 > :global(.__wab_flex-container) > *,
.callToAction2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.callToAction2 > :global(.__wab_flex-container) > picture > img,
.callToAction2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .callToAction2 {
    padding: 35px;
  }
}
.freeBox__hlTNo {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
  height: 100%;
  min-height: 0;
}
.freeBox__hlTNo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__hlTNo > :global(.__wab_flex-container) > *,
.freeBox__hlTNo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hlTNo > :global(.__wab_flex-container) > picture > img,
.freeBox__hlTNo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text__dKpvU {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: calc(0px + 32px) !important;
}
.text__tZqA {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tZqA {
    text-align: center;
  }
}
.button__g9PuO:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___68QL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___3WvnD {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: var(--token-kzT08fQBAHgz);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  margin-bottom: 0px;
}
.svg__khjua {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.globalFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  min-height: 0;
}
