.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #e5eeff;
  min-width: 0;
  min-height: 0;
}
.globalHeader2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: #e5eeff;
  height: auto;
  padding: 0px;
}
.hero > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.hero > :global(.__wab_flex-container) > *,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.hero > :global(.__wab_flex-container) > picture > img,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero {
    padding-bottom: 0px;
    background: #e5eeff;
  }
}
.freeBox__qbWtR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 544px;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qbWtR {
    height: auto;
  }
}
.freeBox__oqFlx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: center;
  margin-top: 0px;
  min-width: 0;
  min-height: 0;
  padding: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oqFlx {
    height: 100%;
    flex-shrink: 0;
    flex-grow: 1;
    min-height: 0;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1080px;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-size: 55px;
  font-weight: 800;
  font-style: normal;
  color: #000000d9;
  text-align: center;
  text-transform: none;
  line-height: 1.2;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: center;
  margin-bottom: 27px;
  letter-spacing: normal;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    max-width: 800px;
    font-size: 35px;
    line-height: 35px;
    margin-top: 35px;
  }
}
.text__mhN5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 903px;
  margin-top: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #00000080;
  text-align: center;
  text-transform: none;
  line-height: 150%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 57px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mhN5 {
    max-width: 700px;
    margin-top: 18px;
    font-size: 18px;
  }
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 0px;
}
.svg__rraI7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__nHoOt {
  padding-top: 7px;
  padding-bottom: 7px;
  line-height: 22px;
  font-weight: 500;
  max-width: 148px;
  width: 100%;
  padding-left: 0px;
  margin-left: 6px;
  margin-right: 5px;
  color: #eeeeee;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nHoOt {
    width: 100%;
    margin-left: 23px;
    padding-top: 1px;
    padding-bottom: 3px;
    margin-bottom: 0px;
    margin-top: 2px;
    min-width: 0;
  }
}
.freeBox__cGlh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #e5eeff;
  margin-top: 0px;
  padding: 0px 64px 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cGlh {
    margin-top: 0px;
    padding: 15px;
  }
}
.freeBox__y4U9B {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
  margin: 0px 10px 10px;
}
.text__obLeM {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  margin-bottom: 27px;
  min-width: 0;
}
.text__xcXwL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 903px;
  margin-top: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #00000080;
  text-align: center;
  text-transform: none;
  line-height: 150%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 53px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xcXwL {
    max-width: 700px;
    margin-top: 18px;
    font-size: 18px;
  }
}
.freeBox__ezdjL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  background: none;
  max-width: 1140px;
  min-width: 0;
  padding: 8px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__tksiJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__xjoXu {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__xjoXu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__xjoXu > :global(.__wab_flex-container) > *,
.freeBox__xjoXu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xjoXu > :global(.__wab_flex-container) > picture > img,
.freeBox__xjoXu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xjoXu {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xjoXu > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xjoXu > :global(.__wab_flex-container) > *,
  .freeBox__xjoXu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xjoXu > :global(.__wab_flex-container) > picture > img,
  .freeBox__xjoXu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__mwXnl {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg___8C7Uh {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
  flex-shrink: 0;
}
.freeBox__xzv4T {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__s1DDm {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__lNcw5 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__lNcw5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__lNcw5 > :global(.__wab_flex-container) > *,
.freeBox__lNcw5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lNcw5 > :global(.__wab_flex-container) > picture > img,
.freeBox__lNcw5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___161Gh {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___548Ky {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__ehWbB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__nugcn {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__nugcn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__nugcn > :global(.__wab_flex-container) > *,
.freeBox__nugcn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nugcn > :global(.__wab_flex-container) > picture > img,
.freeBox__nugcn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nugcn {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nugcn > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nugcn > :global(.__wab_flex-container) > *,
  .freeBox__nugcn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nugcn > :global(.__wab_flex-container) > picture > img,
  .freeBox__nugcn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__bwLSu {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__z6Skz {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__t5BmJ {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__yLcoG {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___5Zum0 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___5Zum0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___5Zum0 > :global(.__wab_flex-container) > *,
.freeBox___5Zum0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Zum0 > :global(.__wab_flex-container) > picture > img,
.freeBox___5Zum0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__aoUly {
  height: auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__oyCzO {
  height: auto;
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column___2JGkr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__pVl9G {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__pVl9G > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__pVl9G > :global(.__wab_flex-container) > *,
.freeBox__pVl9G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pVl9G > :global(.__wab_flex-container) > picture > img,
.freeBox__pVl9G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pVl9G {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pVl9G > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pVl9G > :global(.__wab_flex-container) > *,
  .freeBox__pVl9G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pVl9G > :global(.__wab_flex-container) > picture > img,
  .freeBox__pVl9G
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__e65Fj {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__mQfqa {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___11DC {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__puE2 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__qQo5B {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__qQo5B > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__qQo5B > :global(.__wab_flex-container) > *,
.freeBox__qQo5B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qQo5B > :global(.__wab_flex-container) > picture > img,
.freeBox__qQo5B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__aol4U {
  height: auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__lSTf9 {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 0px;
}
.examples4 {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  margin-bottom: 27px;
  min-width: 0;
}
.text__pqBIt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 903px;
  margin-top: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #00000080;
  text-align: center;
  text-transform: none;
  line-height: 150%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 53px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pqBIt {
    max-width: 700px;
    margin-top: 18px;
    font-size: 18px;
  }
}
.examples1 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.examples1 > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.examples1 > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.examples1 > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .examples1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .examples1 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___9DWm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.card__ngot2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 560px;
  align-self: center;
  height: 100%;
  min-height: 0;
}
.text__qOsy {
  padding-left: 0px;
  text-align: center;
}
.text__bbRnk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
  padding: 15px;
}
.column__k7ZgV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.card__vS08H:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 560px;
  height: 100%;
  min-height: 0;
}
.text__s7B2B {
  padding-left: 0px;
}
.text__jEoxL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 15px;
}
.column__lPdYg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.card__on1Cc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 560px;
  height: 100%;
  min-height: 0;
}
.text__n3PgP {
  padding-left: 0px;
}
.text__m0Rmv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
  padding: 15px;
}
.examples2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.examples2 > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.examples2 > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.examples2 > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .examples2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .examples2 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__nNKh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.card__e9JeL:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 560px;
  height: 100%;
  min-height: 0;
}
.text__fOgjC {
  padding-left: 0px;
}
.text__zg3Fg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
  padding: 15px;
}
.column__eCzm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.card__j2EQx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 560px;
  height: 100%;
  min-height: 0;
}
.text___524H5 {
  padding-left: 0px;
}
.text__hkxC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
  padding: 15px;
}
.column__osb0Y {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.card__s1KI5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 560px;
  height: 100%;
  min-height: 0;
}
.text___3MM9T {
  padding-left: 0px;
}
.text__cYckp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
  padding: 15px;
}
.examples3 {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.examples3 > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.examples3 > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.examples3 > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .examples3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .examples3 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__nh0Pu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.card__qWuj9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 560px;
}
.text__e2JD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 15px;
}
.column__q37CO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.card__uyWxs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 560px;
  height: 100%;
  min-height: 0;
}
.text__l8YZs {
  padding-left: 0px;
}
.text__v8Q1X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 15px;
}
.column___1EQvN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.card__oiWkn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 560px;
  height: 100%;
  min-height: 0;
}
.text__jmd2D {
  padding-left: 0px;
}
.text__evJqV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 15px;
}
.callToAction {
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
  width: 100%;
  background: #ececec;
  min-width: 0;
  padding: 50px 16px 128px;
}
.callToAction > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.callToAction > :global(.__wab_flex-container) > *,
.callToAction > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.callToAction > :global(.__wab_flex-container) > picture > img,
.callToAction
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__cCmf {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
}
.freeBox__cCmf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__cCmf > :global(.__wab_flex-container) > *,
.freeBox__cCmf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cCmf > :global(.__wab_flex-container) > picture > img,
.freeBox__cCmf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text__ocapq {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: calc(0px + 32px) !important;
}
.text__omnWg {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__omnWg {
    text-align: center;
  }
}
.button__kZ1Le:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__gfp0O {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___8YQoD {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__mxdv3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__cXycv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cXycv {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.text___6SWv6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 895px;
  margin-top: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #00000080;
  text-align: center;
  text-transform: none;
  line-height: 150%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___6SWv6 {
    max-width: 275px;
  }
}
.callToAction3 {
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
  width: 100%;
  background: #ececec;
  min-width: 0;
  padding: 128px 16px;
}
.callToAction3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.callToAction3 > :global(.__wab_flex-container) > *,
.callToAction3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.callToAction3 > :global(.__wab_flex-container) > picture > img,
.callToAction3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__ztEGz {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
}
.freeBox__ztEGz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ztEGz > :global(.__wab_flex-container) > *,
.freeBox__ztEGz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ztEGz > :global(.__wab_flex-container) > picture > img,
.freeBox__ztEGz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text__x5Vj {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: calc(0px + 32px) !important;
  padding-bottom: 0px;
}
.text__y0QgS {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__y0QgS {
    text-align: center;
  }
}
.collapse:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.accordionItem__byp20:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__iXAd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.accordionItem__jRxFz:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__sAebz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.callToAction2 {
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
  width: 100%;
  background: #ececec;
  min-width: 0;
  padding: 128px 16px;
}
.callToAction2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.callToAction2 > :global(.__wab_flex-container) > *,
.callToAction2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.callToAction2 > :global(.__wab_flex-container) > picture > img,
.callToAction2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__sL4R4 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
}
.freeBox__sL4R4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__sL4R4 > :global(.__wab_flex-container) > *,
.freeBox__sL4R4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sL4R4 > :global(.__wab_flex-container) > picture > img,
.freeBox__sL4R4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text__fck8X {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: calc(0px + 32px) !important;
}
.text__g4Nor {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__g4Nor {
    text-align: center;
  }
}
.button__xl2Qf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ymShf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__lIp8M {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__hbmN {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.globalFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  min-height: 0;
}
